body {
    background-color:black;
    color: white;
}

.poster {
    width: 50%;
    background-color: black;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
}

img {
    border: 5px solid white;
    
    width: 100%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}